<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<META NAME="" CONTENT="text/html; charset=iso-8859-1">
<META NAME="author" CONTENT="Prettypixel">
<META NAME="publisher" CONTENT="kurshalter.de">
<META NAME="copyright" CONTENT="kurshalter 2010">
<META NAME="page-topic" CONTENT="Webseite Frank Wunsch, Essen/NRW">
<META NAME="keywords" CONTENT="Segeln">
<META NAME="description" CONTENT="Segeln">
<META NAME="page-type" CONTENT="Privat">

<title>Impressum</title>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#FFFFFF" background="images/kurshalter/Hintergrund.gif" text="#000000" link="#000066" vlink="#000066" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (Impressum.psd) -->
<div id="Layer1" style="position:absolute; left:154px; top:170px; width:698px; height:211px; z-index:1"> 
  <div align="center">
    <h1><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#FFFFFF" size="+1">- privat -<br>
      Frank Wunsch<br>
      Merziger Aue 10<br>
      D-45307 Essen, NRW </font></strong></font></h1>
  </div>
  <h1 align="center"><font color="#FFFFFF" size="+1"><strong><font face="Verdana, Arial, Helvetica, sans-serif">Telefon: 
    0201-6157413<br>
    Handy: 0172-2493106<br>
    <a href="mailto:kurshalter@wunschware.de">kurshalter@wunschware.de</a></font></strong></font></h1>
</div>
<div id="Layer2" style="position:absolute; left:459px; top:375px; width:89px; height:21px; z-index:2"><a href="http://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000"><img src="http://www.disclaimer.de/images/d_aniblack.gif" 
width="84" height="20" border=0 alt="disclaimer"></a> </div>
<div id="Layer3" style="position:absolute; left:169px; top:405px; width:667px; height:79px; z-index:3"> 
  <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#FFFFFF" size="+1">Alle 
    auf dieser Website genannten Produkte <br>
    unterliegen dem Copyright der jeweiligen Eigent&uuml;mer.<br>
    Die Nutzung der Grafiken und Texte auf dieser Website ist untersagt und kann 
    strafrechtliche Verfolgung nach sich ziehen.<br>
    Haftungshinweis: Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen 
    wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt 
    der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich</font><font color="#FFFFFF" size="+1" face="Verdana, Arial, Helvetica, sans-serif">.</font></strong></font><br>
  </div>
  </div>
<img src="images/kurshalter/impressum.gif" width="1000" height="590" alt=""> 
<!-- End ImageReady Slices -->
</body>
</html>
